<nav class="header__nav">
    <div class="container header__nav-container">
        <a href="#header" class="header__logo logo"><img src="./img/Logo.svg" alt=""></a>
        <ul class="header__list">
            <li class="header__item"><a href="#models" class="header__link ">Модели</a></li>
            <li class="header__item"><a href="#!" class="header__link">Обзор вертолетов</a></li>
            <li class="header__item"><a href="#!" class="header__link">О компании</a></li>
            <li class="header__item"><a href="#!" class="header__link">Преимущества</a></li>
            <li class="header__item"><a href="#!" class="header__link">Калькулятор</a></li>
            <li class="header__item"><a href="#!" class="header__link">Услуги</a></li>
            <li class="header__item"><a href="#!" class="header__link">Новости</a></li>
        </ul>
        <ul class="header__list">
            <li class="header__item header__item-lang">
                <a href="#!" class="header__link-2">ENG</a>
            </li>
            <li class="header__item header__item-lang active">
                <a href="#!" class="header__link-2">RUS</a>
            </li>
            <li class="header__item">
                <a href="#!" class="header__link-2 header__link-icon"><img src="./img/statistic.svg" alt=""></a>
            </li>
            <li class="header__item">
                <a href="#!" class="header__link-2 header__link-icon header__link-search"><img src="./img/search.svg" alt=""></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container header__search-container">
    <form action="" class="header__form">
        <input type="search" name="search" class="header__form-inp">
        <span class="header__form-close">X</span>
    </form>
</div>

<aside class="nav">
    <div class="nav__menu">
        <span class="nav__line"></span>
    </div>
    <a href="#!" class="nav__link"><span>Листайте дальше</span><img src="./img/arrowDown.svg" alt=""></a>
</aside>

<nav class="open">
    <a href="#!" class="open__logo"><img src="./img/Logo.svg" alt=""></a>
    <span class="open__close"></span>
    <ul class="open__list">
        <li class="open__item">
            <a href="#!" class="open__link">История компании</a>
        </li>
        <li class="open__item">
            <a href="#!" class="open__link">Каталог вертолетов</a>
        </li>
        <li class="open__item">
            <a href="#!" class="open__link">Каталог запчастей</a>
        </li>
        <li class="open__item">
            <a href="#!" class="open__link">Конфигуратор</a>
        </li>
        <li class="open__item">
            <a href="#!" class="open__link">Новости</a>
        </li>
        <li class="open__item">
            <a href="#!" class="open__link">Обслуживание</a>
        </li>
        <li class="open__item">
            <a href="#!" class="open__link">Техническая информация</a>
        </li>
        <li class="open__item">
            <a href="#!" class="open__link">Услуги</a>
        </li>
    </ul>
    <ul class="open__list">
        <li class="open__item">
            <a href="tel:998946044949" class="open__link open__link-tel">+7 (495) 723-44-44</a>
        </li>
        <li class="open__item">
            <a href="tel:998946044949" class="open__link open__link-tel">+7 (963) 777-57-57</a>
        </li>
        <li class="open__item">
            <a href="mailto:olimjonovmamurjon14@gmail.com" class="open__link open__link-email">info@aerounion.msk.ru</a>
        </li>
        <li class="open__item">
            <a href="#!" class="open__link open__link-email">Координаты: N56.12695 E037.0695</a>
        </li>
        <li class="open__item">
            <a href="#!" class="open__link open__link-email">Частота радиосвязи: 123.9 Мгц - UUCH</a>
        </li>
    </ul>
</nav>